@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background: #e7e7de;
}

/* Nav section */

nav {
  background: #0f3057;
  color: #e7e7de;
  height: 80px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

label.logo {
  color: e7e7de;
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  margin-left: 40px;
}

.subtitle {
  color: e7e7de;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
}

nav {
  display: flex;
  flex-direction: column;
}

/* Nav section / */

.fun-form {
  background: #008891;
  color: #e7e7de;
  height: 600px;
  width: 100%;
  padding: 20px;
}
